
/* Setting up all fonts */
@font-face {
    font-family: lexend;
    src: url('lexend/Lexend-VariableFont.ttf');
}


/* Universal text settings, size, etc */
body {
    font-family: lexend;
    font-size: 15px;
}

/* H0 */ 
.title {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.uTitle {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

/* H1 */
h1 {
    font-size: 40px;
}
.uH1Title {
    font-size: 20px;
    font-weight: 600;
}

/* H2 */
h2 {
    font-size: 32px;
}

.uH2Title {
    font-size: 18;
    font-weight: 600;
}

/* The rest */
h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 { 
    font-size: 17px;
}